<!--
  creates a nav element that represent the naigation section of the webpage. navbar will expand on larger screen. 
  dark background; adds border to the bottom of the navbar with color determined by border body; tell bootstrap to apply 
  dark theme variant, add ARIA role that helps screen reader identify this part as navigation
-->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" role="navigation">
  <div class="container-fluid">

    <!-- Rails helper that generates a link to the root path of the application -->
    <%= link_to 'Home', root_path, class: 'navbar-brand' %>


    <!-- 
      Toggling navbar menu when viewed on smaller screens. Button should toggle the collaps behavior of the navbar. 
      ARIA attribue specifies that th button controls navbarSupportedContent initially not expanded. 
    -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Dashboard', home_dashboard_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Clubs', home_clubs_path, class: 'nav-link' %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Profile', home_profile_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', home_login_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
