<% @events.each do |event| %>
    <div class="modal fade" id="detailModal-<%= event.id %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title"> <%= event.title %></h5>
                    <h5 class="muted-text"> <%= event.event_type.type_name %> </h5>
                </div>
                <div class="modal-body">
                    <div>
                        <p> Hosted by: <%= event.host.first_name %> <%=event.host.last_name %> </p>
                        <p> <i class="bi bi-person-standing"></i> <%= event.capacity %> </p> 
                        <p> <i class="bi bi-geo icon-blue"></i>  <%= event.location %> </p>
                        <p> <i class="bi bi-calendar-event icon-yellow"></i> <%= event.event_datetime.strftime('%A, %B %d, %Y at %I:%M %p') %> </p>
                    </div>
                    <div class="mt-4">
                        <p><span class="muted-text"> Note:</span> <%= event.description %> </p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Close </button>
                </div>
            </div>
        </div>
    </div>
<% end %>


<% @latest_news.each do |news| %>
    <div class="modal fade" id="detailModal_News-<%= news.id %>" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h5 class="modal-title"> <%= news.title %> </h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <%= news.content %>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-end align-items-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"> Close </button>
                    </div>
                </div>
            </div>
    </div>
<% end %>
