<section class="profile-section">
  <div class="profile-wrapper">
    <div class="card">
      <div class="profile-header">
       
        <div class="user-name">
            <h5> <%= @user.first_name %> <%= @user.last_name %> </h5>
        </div>
        <div class="user-info">
            <p>EMAIL: <%= @user.email %></p>
            <p>USERNAME: <%= @user.username %></p>
        </div>
      </div>
      <div class="profile-body bg-body-tertiary">
        <div class="about-section">
          <p class="section-title">About</p>
          <div class="about-content">
            <p>SOMETHING SOMETHING.... </p>
          </div>
        </div>
      </div>
      <div class="profile-footer d-flex">
        <button class="btn btn-primary"> <%= link_to "Edit Profile", edit_profile_path(current_user.id) %> </button>
        <%= button_to "Delete Profile", profile_path(current_user.id), method: :delete, data: { confirm: "Are you sure you want to delete your profile?" }, class: "btn btn-danger" %>

      </div>  
    </div>
  </div>
</section>
